.textmain{
    padding: 56px 0 150px 0;
    display: flex;
    justify-content: center;
    column-gap: 24px;
    row-gap: 24px;
    flex-wrap: wrap;
    user-select: none;
}
.cont1{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    row-gap: 24px;
    flex-wrap: wrap;
}
.card{
    padding: 24px;
    background: #1E1B33;
    border-radius: 12px;
    border: 1px solid rgb(231, 235, 238, 0.4);
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.card_body{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card_info{
    display: flex;
    column-gap: 130px;
    font-size: 14px;
    font-weight: 500;
}
.price{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: rgb(3, 219, 128, 0.8);
}
.likes{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #fff;
}
/* .likes > svg > path{
    background: #1a8344;
} */
.likes_icon:hover{
    fill: #cc2525;
}
.text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.btn{
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 12px 24px;
    border: 1px solid rgb(231, 235, 238, 0.4);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    user-select: none;
}
.btn:hover{
    border: 1px solid #1E1B33;
    background: linear-gradient(45deg, rgba(5,0,250,1) 0%, rgba(224,30,90,1) 100%);
}
.hr{
    border: 1px solid rgb(231, 231, 231, 0.24);
}
