.textmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.nfts{
    background: linear-gradient(45deg, rgba(5,0,250,1) 0%, rgba(224,30,90,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 96px;
    font-weight: 700;
    line-height: 80%;
}
.text2{
    font-size: 44px;
    font-weight: 500;
    color: #fff;
}
